.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    font-weight: bold;
    margin-bottom: -15px;
}

.link-image img{
    width: 120px;
    border-radius: 50%;
}

.link-image img:hover {
    box-shadow: 0 0 2px 1px blue;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #dee2e6;
    font-family: "Georgia", sans-serif;
}

/* declare "space" for entire timeline */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* "::before" and "::after" pseudo-elements appear before/after actual content; requires "content" to display properly */

/* "z-index" is like layers; common for elements with absolute positions */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* the circles on the timeline next to container */

.container::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    right: -13px;
    background-color: white;
    border: 4px solid blue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
  left: -13px;
}

.content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
}



